.header {
    padding: 12px 118px;
}

.head {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:start;
    border-bottom: 1px solid #D6DCEC;
    padding: 12px 0;
}

.head__logo {
    margin-right: 40px;
}

.head__logo-icon::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    background-image: url(../img/NIVEA\ x5F\ Logo\ x5F\ 2020\ 1.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50px;
}

.head__menu {
    margin-right: 256px;
}

.head__menu-item {
    font-size: 18px;
    text-decoration: none;
    color: #0032A0;
    text-transform: uppercase;
}

.head__menu-item:nth-child(n+2) {
    margin-left: 30px;
}

.head__icons-item:nth-child(n+2) {
    margin-left: 20px;
}

.icon-text {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
}

.icon-search::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 34px;
    height: 34px;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 34px;
}

.icon-profile::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 34px;
    height: 34px;
    background-image: url(../img/profile.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 34px;
}

.icon-cookie {
    position: relative;
}

.cookie-part1::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 7.5px;
    height: 7.5px;
    background-image: url(../img/cookiePart.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 7.5px;
    position: absolute;
    top: 5px;
    right: 19px;
}

.cookie-part2::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 6.36px;
    height: 6.36px;
    background-image: url(../img/cookiePart.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 6.36px;
    position: absolute;
    top: 16px;
    right: 18px;
}

.cookie-part3::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 5.5px;
    height: 5.5px;
    background-image: url(../img/cookiePart.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 5.5px;
    position: absolute;
    top: 11px;
    right: 11px;
}

.cookie-part4::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 4px;
    height: 4px;
    background-image: url(../img/cookiePart.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 4px;
    position: absolute;
    top: 19px;
    right: 12.5px;
}

.cookie-part5::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 4px;
    height: 4px;
    background-image: url(../img/cookiePart.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 4px;
    position: absolute;
    top: -1px;
    right: 3.5px;
}

.icon-cookie::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 34px;
    height: 34px;
    background-image: url(../img/cookie.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 34px;
}

.header__page-navigation {
    padding: 11px 0;
    border-bottom: 1px solid #D6DCEC;
}

.page-navigation__lane {
    display: flex;
    justify-content: space-between;
}

.page-navigation__lane-left {
    display: flex;
    align-items: center;
}

.lane-link {
    text-decoration: none;
    color: #0032A0;
    font-size: 14px;
}

.lane-link__not-home{
    margin-left: 6.75px;
    position: relative;
    align-self: center;
}

.lane-link__not-home::before {
    content: '';
    background-image: url('../img/arrow-right.svg');
    background-size: 6.5px 11.5px;
    width: 6.5px;
    height: 11.5px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4.5px;
}

.up-link {
    position: relative;
}

.up-link::before {
    content: '';
    background-image: url('../img/Top.svg');
    background-size: 10px 12px;
    width: 10px;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
}
